[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
better-exceptions = "*"

[packages]
requests = "*"
six = "*"
websocket-client = "*"

[requires]
python_version = "3.6"
